# APP
FRONTEND_URL=http://localhost:4200
PORT=3000

# AUTH
JWT_SECRET=dev-secret-change-in-production

# DB
DB_HOST=localhost
DB_PORT=5432
DB_USER=scheduler
DB_PASSWORD=scheduler
DB_NAME=scheduler
DATABASE_URL=postgres://scheduler:scheduler@localhost:5432/scheduler
